.table-container[b-gl36s67m3p] {
    margin: 20px;
        display: flex;
        flex-direction: column;
      
}
table[b-gl36s67m3p] {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}


.title .owner[b-gl36s67m3p] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 10px;
    text-align: left;
    font-weight: bold;
}
.body[b-gl36s67m3p] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    /*height: 500px; !* Increase the height as needed *!*/
    margin-bottom: 10px;
}
