.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
    width: 100%;
    max-width: 700px;
    padding: 5px;
    text-align: center;
    margin: auto;
    border-radius: 8px;
    background-color: #45ADA2; /* Celeste color */
}

.form-group {
    width: 100%;
    max-width: 400px;
    margin: auto; /* Center the form elements */
    display: flex;
    flex-direction: column;
}
.field {
    margin-top: 20px;
}

.panel label {
    color: #ffffff;
    margin: 5px;
}

.title {
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #79D0C7; /* Tiffany Blue color */
    border-radius: 5px;
}

.acceptbtn {
    background-color: #124A4B; /* Midnight Green color */
    border: none;
    margin: 10px 0 10px 0;
    border-radius: 5px;
    padding: 10px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.acceptbtn:hover {
    background-color: #45ADA2; /* Keppel color - Lighter on hover */
}

.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.table-responsive::-webkit-scrollbar{
    display: none;
}

.table {
    width: 100%;
    max-width: 100%;
    margin: auto;
    text-align: left;
}

.table td {
    padding: 10px; 
    border: 1px solid #79D0C7; /* Tiffany Blue color */
    color: #1a1e21;
}

.table th {
    text-align: center;
    padding: 10px; 
    color: #f2f2f2;
    background-color: #124A4B; /* Keppel color */
}

.table tr:nth-child(even) {
    background-color: #fff; 
}

.table tr:nth-child(odd) {
    background-color: #f2f2f2; 
}


.error-msg {
    color: red;
    margin-top: 20px;
}

.delete-label {
    cursor: pointer;
    color: #ff0000; /* Red */
    font-weight: bold;
    font-size: 20px;
}

