/* ContentsDaysOverview.razor.css */
/* CSS HEX */
root {
    --midnight-green: #124A4Bff;
    --celeste: #BDECE6ff;
    --keppel: #45ADA2ff;
    --tiffany-blue: #79D0C7ff;
}

.container {
    margin: 0;
    padding: 0;
    width: 100%;
}

.card {
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.card-header {
    background-color: #79D0C7ff;
    color: #fff;
    border-bottom: 1px solid #ddd;
}

.form-group {
    margin-bottom: 15px;
}

.btn-success {
    border: hidden;
    background-color: #79D0C7ff;
    color: #fff;
}

.btn-success:hover {
    background-color: #45ADA2ff; /* A slightly darker shade on hover */
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd; /* Add border to all cells */

}

th {
    background-color: #45ADA2ff; /* A slightly darker shade for table headers */
    color: #124A4Bff; /* Text color for the table header */
    border: none; /* Remove top border for header cells */
}

.date-link {
    color: #124A4B;  
    text-decoration: none; /* Remove underline  */
    transition: color 0.3s ease-in-out; /* smooth color transition on hover */
}

.date-link:hover {
    color: #45ADA2; /* the hover color */
}
