
.page {
    font-family: 'Dosis', sans-serif;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease-in-out;
    width: 100%;
    max-width: 400px; /* Set a maximum width */
    padding: 25px;
    text-align: center;
    margin: auto;
    border-radius: 15px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.form-group label {
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 10px;
}

.form-group input.title {
    width: 100%; /* Adjust the width for responsiveness */
}

.acceptbtn {
    background-color: #124A4B; /* Midnight Green color */
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    width: 100%; /* Adjust the width for responsiveness */
}

.acceptbtn:hover {
    background-color: #45ADA2; /* Keppel color - Lighter on hover */
}
.button-row {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

@media (max-width: 767px) {
    .card {
        width: 80%;
    }
}
