@using BlazorWASM
@using HttpClients.ClientInterfaces
@namespace Login
@inject NavigationManager navMgr
@inject IUserService authService

<AuthorizeView>
    <Authorized>
        <div class="icon-wrapper" @onclick="Logout">
            <label class="icon2">Sign out</label>
            <img class="icon" src="icons/Logout.png" />
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="icon-wrapper" @onclick="Login">
            <label class="icon2">Sign in</label>
            <img class="icon" src="icons/Login.png" />
        </div>
    </NotAuthorized>
</AuthorizeView>



@code {
    private void Login()
    {
        navMgr.NavigateTo("/Login");
    }

    private async Task Logout()
    {
        await authService.LogoutAsync();
        navMgr.NavigateTo("/");
    }

}