.page {
    font-family: 'Tahoma', sans-serif;
    font-style: italic; 
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Original shadow color */
    transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
    width: 600px;
    padding: 25px;
    text-align: center;
    margin: auto;
    border-radius: 5px;
    color: #124A4Bff;
    margin-top: 80px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(18, 74, 75, 0.4); /* Using Midnight Green color */
    transform: scale(1.1); 
}

.field {
    margin: 25px 0px 25px 0px;
}
.field label {
    margin-right: 20px;
    font-size: 25px;
}
.field input {
    width: 100px;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #124A4B;
    border-radius: 4px;
}

.loginbtn {
    background-color: #124A4Bff; /* Celeste color */
    width: 100px;
    font-size: 20px;
    border: hidden;
    border-radius: 8px;
    padding: 5px 10px;
    color: white;
    transition: background-color 0.3s ease-in-out;
}

.loginbtn:hover {
    background-color: #79D0C7; /* Tiffany Blue color - Lighter on hover */
}


.button-row {
    margin-top: 15px;
}

@media (max-width: 771.91px) {
    .card {
        width: 80%;
    }
}