.page {
    font-family: 'Dosis', sans-serif;
}

.filter-bar {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #124A4B; /* Midnight Green color */
    border-radius: 8px;
    color: white;
}

.filters-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 5px ;
}

.filter label {
    color: white;
    margin-right: 20px;
}

.filter input {
    align-items: end;
    width: 100px;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #124A4B;
    border-radius: 5px;
}

.funnel {
    width: 40px;
    margin: 20px 0px 20px 0px;
    cursor: pointer;
}

.btn {
    background-color: #124A4B; /* Midnight Green color */
    border-radius: 5px;
    padding: 10px 15px;
    margin: 25px 0 25px 0;
    color: #ffffff; /* White text */
    border: 2px solid #45ADA2; /* Keppel color */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #45ADA2; /* Keppel color on hover */
}

.table {
    border-collapse: collapse;
    border: 5px solid #124A4B; /* Tiffany Blue color */
    padding: 15px;
    width: 100%;
    text-align: center;
}

.table td {
    padding: 15px;
    border: 5px solid #124A4B; 
    text-align: left;
    color: #124A4B;
}

.table th {
    color: #eeeeee;
    background-color: #124A4B; /* Midnight Green color */
}

/* Style the even rows with a light background color */
.table tbody tr:nth-child(even) {
    background-color: #eee; /* Tiffany Blue color - Alternate rows */
}

/* Style the odd rows with a different background color */
.table tbody tr:nth-child(odd) {
    background-color: #fff; /* Celeste color - Alternate rows */
}

.table-link {
    color: #124A4B;  /* the link color */
    text-decoration: none; /* Remove underline */
    transition: color 0.3s ease-in-out; 
}

.table-link:hover {
    color: #45ADA2; 
}


.label-error {
    color: red;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .filters-container {
        flex-direction: column;
        align-items: flex-start;
    }
}



