
/* Filter bar styling */
.filter-bar {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #124A4B; /* Midnight Green color */
    border-radius: 8px;
    color: white;
}

.funnel {
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.filter {
    text-align: left;
}
.filter label {
    margin-right: 20px;
}
.filter input {
    width: 100px;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #124A4B;
    border-radius: 5px;
}
    /* Button styling */
.btn {
    background-color: #124A4B; /* Midnight Green color */
    border-radius: 5px;
    padding: 10px 15px;
    margin: 25px 0 25px 0;
    color: #ffffff; /* White text */
    border: 2px solid #45ADA2; /* Keppel color */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #45ADA2; /* Keppel color on hover */
}

/* Table styling */
.table {
    border-collapse: collapse;
    border: 1px solid #79D0C7; /* Tiffany Blue color */
    padding: 15px;
    width: 100%;
    text-align: center;
}

.table th,
.table td {
    padding: 15px;
    border: 1px solid #79D0C7; /* Tiffany Blue color */
    text-align: left;
    color: #124A4B;
}

.table th {
    color: #ffffff;
    text-align: center;
    background-color: #124A4B; /* Midnight Green color */
}

/* Style the even rows with a light background color */
.table tr:nth-child(even) {
    background-color: #fff; /* White background for even rows */
}

.table tr:nth-child(odd) {
    background-color: #f2f2f2; /* Gray background for odd rows */
}

/* Custom styling for delete label */
.delete-label {
    cursor: pointer;
    color: #ff0000; /* Red */
    font-weight: bold;
    font-size: 20px;
}

/* Error message styling */
.error-msg {
    color: #ff0000; /* Red */
    font-weight: bold;
}
