<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Too Good To Go</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        @* <div class="nav-item px-3"> *@
        @*     <NavLink class="nav-link" href="" Match="NavLinkMatch.All"> *@
        @*         <span class="oi oi-home" aria-hidden="true"></span> Home *@
        @*     </NavLink> *@
        @* </div> *@
        
        <AuthorizeView>
            <NotAuthorized>  
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="Home">
                        <span class="oi oi-plus" aria-hidden="true"></span> Home
                    </NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>
        
        
        @* <AuthorizeView Policy="MustBeSomeRole">  to see depending to role*@ 
        <AuthorizeView>
            <Authorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="CreateUser">
                        <span class="oi oi-plus" aria-hidden="true"></span> Create user
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="CreateProduct">
                        <span class="oi oi-plus" aria-hidden="true"></span> Add New Product
                    </NavLink>
                </div>
                
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="AddDayContent">
                        <span class="oi oi-plus" aria-hidden="true"></span> Add Day Content
                    </NavLink>
                </div>
                
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="ViewProducts">
                        <span class="oi oi-home" aria-hidden="true"></span> View All Products
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                                    <NavLink class="nav-link" href="DayContentItem">
                                        <span class="oi oi-home" aria-hidden="true"></span> View Day Content
                                    </NavLink>
                                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="ViewAllUsers">
                        <span class="oi oi-home" aria-hidden="true"></span> View All Users
                    </NavLink>
                </div>
            </Authorized>
        </AuthorizeView>
        @* <div class="nav-item px-3"> *@
        @*     <NavLink class="nav-link" href="ViewProducts"> *@
        @*         <span class="oi oi-plus" aria-hidden="true"></span> View Products *@
        @*     </NavLink> *@
        @* </div> *@
        
        @* <div class="nav-item px-3"> *@
        @*       <NavLink class="nav-link" href="Login"> *@
        @*           <span class="oi oi-plus" aria-hidden="true"></span> Log in *@
        @*       </NavLink> *@
        @* </div>   *@

    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}