﻿<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Too Good To Go</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>
<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
       
        
        <AuthorizeView Roles="Employee">
            <Authorized>
               
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="ContentsDaysOverview">
                        <span class="oi oi-calendar" aria-hidden="true"></span> Days Overview
                    </NavLink>
                </div>
                        
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="AddDayContent">
                        <span class="oi oi-plus" aria-hidden="true"></span> Add Day Content
                    </NavLink>
                </div>
                        
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="ViewProducts">
                        <span class="oi oi-list" aria-hidden="true"></span> View All Products
                    </NavLink>
                            
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="CreateProduct">
                        <span class="oi oi-plus" aria-hidden="true"></span> Add New Product
                    </NavLink>
                </div>
                    
            </Authorized>
        </AuthorizeView>
        
        
     <AuthorizeView Roles="Manager">
                <Authorized>
                         <div class="nav-item px-3">
                             <NavLink class="nav-link" href="ContentsDaysOverview">
                                 <span class="oi oi-calendar" aria-hidden="true"></span> Days Overview
                             </NavLink>
                         </div>
     
         <div class="nav-item px-3">
             <NavLink class="nav-link" href="Chart">
                 <span class="oi oi-bar-chart" aria-hidden="true"></span> Data visualisation
             </NavLink>
         </div>
          <div class="nav-item px-3">
                                      <NavLink class="nav-link" href="ViewProducts">
                                          <span class="oi oi-list" aria-hidden="true"></span> View All Products
                                      </NavLink>
     
                                  </div>
         <div class="nav-item px-3">
             <NavLink class="nav-link" href="ViewAllUsers">
                 <span class="oi oi-people" aria-hidden="true"></span> View All Users
             </NavLink>
         </div>
         <div class="nav-item px-3">
                                      <NavLink class="nav-link" href="CreateUser">
                                          <span class="oi oi-plus" aria-hidden="true"></span> Create user
                                      </NavLink>
                                  </div>
                                  <div class="nav-item px-3">
                                      <NavLink class="nav-link" href="CreateProduct">
                                          <span class="oi oi-plus" aria-hidden="true"></span> Add New Product
                                      </NavLink>
                                  </div>
     
                                  <div class="nav-item px-3">
                                      <NavLink class="nav-link" href="AddDayContent">
                                          <span class="oi oi-plus" aria-hidden="true"></span> Add Day Content
                                      </NavLink>
                                  </div>
     </Authorized>
                 </AuthorizeView>

    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}